.main-btn-wrapper {
	position: fixed;
	right: 0;
	bottom: 5rem;
	z-index: 5;
	background: #edd33e;
	box-shadow: $item-shadow;
	transition: box-shadow 250ms ease-in-out, transform 250ms ease-in-out;
	border-radius: 8px 0 0 8px;
	transform: translateX(94px);
	height: 10rem;
	border: 1px solid var(--border-bg);
	display: flex;
	align-items: center;

	.slide-in-btn {
		cursor: pointer;
		height: 100%;
		width: 4.4rem;
		@include centering;

		.icon {
			font-size: 4.4rem;
			color: var(--border-bg);
		}
	}

	.add-pin-btn {
		cursor: pointer;
		height: 100%;
		width: 9.4rem;
		padding: 0.4rem;

		h1 {
			font-size: 2.1rem;
			color: var(--border-bg);
			margin-bottom: 1.4rem;
		}

		.img-cont {
			position: relative;
			display: block;
			filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.7));

			.btn-img {
				display: none;
			}
		}
	}

	&:hover,
	&:active {
		box-shadow: $item-shadow-hover;
		transform: translateY(0px);
	}
}
