.main-btn-wrapper {
	position: fixed;
	right: 0;
	bottom: 5rem;
	z-index: 5;
	background: #edd33e;
	box-shadow: $item-shadow;
	transition: box-shadow 250ms ease-in-out, transform 250ms ease-in-out;
	border-radius: 8px 0 0 8px;
	transform: translateX(96px);
	height: 10rem;
	border: 1px solid var(--border-bg);
	display: flex;
	align-items: center;

	.slide-in-btn {
		cursor: pointer;
		height: 100%;
		width: 4.4rem;
		@include centering;

		.icon {
			font-size: 4.4rem;
			color: var(--border-bg);
		}
	}

	.add-pin-btn {
		cursor: pointer;
		height: 100%;
		width: 9.6rem;
		padding-right: 0.8rem;

		h1 {
			font-size: 2.1rem;
			color: var(--border-bg);
			margin-bottom: 1.4rem;
		}

		.img-cont {
			position: relative;
			display: block;
			filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.7));
		}
	}

	&:hover,
	&:active {
		box-shadow: $item-shadow-hover;
		transform: translateY(0px);
	}
}

@media only screen and (min-width: $breakpoint-desktop-large) {
	.main-btn-wrapper {
		right: 6rem;
		bottom: 18rem;
		transform: unset;
		border-radius: 50%;
		height: 18rem;
		width: 18rem;

		.slide-in-btn {
			display: none;
		}

		.add-pin-btn {
			height: 100%;
			width: 100%;
			padding: 0.2rem;

			h1 {
				font-size: 3.2rem;
				margin-bottom: 2rem;
			}
		}

		&:hover,
		&:active {
			transform: translateY(-4px);
		}
	}
}
